{{ define "main" }}
<header>
<h1>{{.Title}}</h1>
<h3>{{.Description}}</h3>
</header>

{{ if .Params.toc }}
  {{ .TableOfContents }}
{{ end }}

{{ with .Resources.ByType "image" }}
{{ range . }}
{{ $image := .Resize "600x webp photo" }}
<a href="{{ .RelPermalink }}">
<img src="{{ $image.RelPermalink }}" alt ="{{ $image.Name }}">
</a>
{{ end }}
{{ end }}

{{.Content}}

<nav>
{{ if .PrevInSection }}
<a href="{{ .PrevInSection.RelPermalink }}" title="{{ .PrevInSection.Title}}">&larr;Previous</a>
{{ end }}
{{ if .NextInSection }}
<a href="{{ .NextInSection.RelPermalink }}" title="{{ .NextInSection.Title}}">Next&rarr;</a>
{{ end }}
</nav>

{{ end }}
